.forgotPasswordContainer {
    margin: auto;
    padding-top: 5rem;
    width: 35%;
    height: 80%
}

.title {
    text-align: center;
    font-family: "Roboto";
}

.formContainer {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.buttonContainer {
    padding-top: 1rem;
}

.submitBtn {
    position: relative;
    float: right;
    color: #5B92E4;
    width: 30%;
    height: 3rem;
}

.saveBtnContainer {
    margin-top: 1.5rem;
}