.approvalPage {
    height: 100%;
}

#approvalContainer {
    margin: auto;
    width: 95%;
    max-height: 80vh;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 0px 0px 5px 5px;
}

#approvalHeader {
    margin: auto;
    width: 95%;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px 5px 0px 0px;
    margin-top: 3%;
}

#topBar {
    /* display: inline-block; */
    align-items: center;
    vertical-align: middle;
    background: #EBEBEB;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px 5px 0px 0px;
    z-index: -1;
}

.searchBarContainer {
    position: relative;
    width: 17%;
}

.titleHeaders {
    display: inline-block;
    height: 5vh;
    width: 100%;
}

.radioStation {
    position: relative;
    font-family: "Roboto";
    font-size: 18px;
    left: 5%
}

.month {
    position: relative;
    font-family: "Roboto";
    font-size: 18px;
    left: 15%
}

.year {
    position: relative;
    font-family: "Roboto";
    font-size: 18px;
    left: 30%
}

.bandwidthUsage {
    position: relative;
    font-family: "Roboto";
    font-size: 18px;
    left: 45%
}

.cost {
    position: relative;
    font-family: "Roboto";
    font-size: 18px;
    left: 65%
}

.billInfoContainer {
    width: 100%;
    border: 1px solid #C4C4C4;
}

#header {
    font-weight: bold;
}

.filter {
    position: relative;
    float: right;
}